<div class="container-fluid">
  <div
    style="text-align: center"
    *ngIf="loaderStatus"
    class="spinner-border"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let individual_data of data; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ individual_data.id }}</td>
        <td>
          <button class="btn btn-danger" (click)="onClick(individual_data)">
            Details
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
