<div class="container-fluid" style="width: 50%">
  {{ successMessage }}
  <div *ngIf="loaderStatus" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="first_name">First name</label>
      <input
        [class.is-invalid]="
          registrationForm.get('first_name')?.invalid &&
          registrationForm.get('first_name')?.touched
        "
        formControlName="first_name"
        type="text"
        class="form-control"
        id="first_name"
        placeholder="First Name"
      />
      <small
        [class.d-none]="
          registrationForm.get('first_name')?.valid ||
          registrationForm.get('first_name')?.untouched
        "
        class="text-danger"
        >First Name is required</small
      >
    </div>
    <div class="form-group">
      <label for="last_name">Last name</label>
      <input
        [class.is-invalid]="
          registrationForm.get('last_name')?.invalid &&
          registrationForm.get('last_name')?.touched
        "
        formControlName="last_name"
        type="text"
        class="form-control"
        id="last_name"
        placeholder="Last Name"
      />
      <small
        [class.d-none]="
          registrationForm.get('last_name')?.valid ||
          registrationForm.get('last_name')?.untouched
        "
        class="text-danger"
        >Last Name is required</small
      >
    </div>

    <button
      [disabled]="!registrationForm.valid"
      type="submit"
      class="btn btn-primary"
    >
      Submit
    </button>
  </form>
</div>
