<div style="width: 50%; margin: auto">
  <div
    style="text-align: center"
    *ngIf="loaderStatus"
    class="spinner-border"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <div *ngIf="cardStatus" class="card">
    <div class="card-header">Id: {{ record_id }}</div>
    <div class="card-body">
      <p class="card-text">First Name: {{ first_name }}</p>
      <p class="card-text">Last Name: {{ last_name }}</p>
    </div>
  </div>
</div>
