<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink="/home" class="navbar-brand" href="#">Angular & PHP</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          routerLink="/home"
          class="nav-link"
          href="#"
          routerLinkActive="active"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/register"
          class="nav-link"
          href="#"
          routerLinkActive="active"
          >Registration</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/allinfo"
          class="nav-link"
          href="#"
          routerLinkActive="active"
          >All Info</a
        >
      </li>
    </ul>
  </div>
</nav>
