<div *ngIf="alertStatus" class="alert alert-success">
  <strong>Success!</strong> Access Token Generated and set in the Browser Local
  Storage
</div>
<div *ngIf="loader" class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>

<button class="btn btn-danger" (click)="onGenerate()">
  Generate access token
</button>
